QWidget{
	color: white;
	background-color: #121212;
	font-family: Rubik;
	font-size: 16pt;
	font-weight: 600;
}

qPushButton {
	background-color:transparent ;
	border: none;
}

qPushButton:hover {
	background-color: #666;
}

qPushButton:pressed {
	backgraund-color: #888;
}